<!DOCTYPE html>
<html xmlns:th="http//www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Estacionamientos</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
</head>
<body style="background: #212529; color: white">

	<div class="text-center"
		style="margin-left: 18%; margin-right: 18%; margin-top: 40px; font-family: Candara">
		<h1>
			<u>TODOS LOS ESTACIONAMIENTOS</u>
		</h1>
	</div>

	<div class="container">
		<section class="vh-200 gradient-custom">
			<div class="container py-4 h-100">
				<br> <br>

				<div class="row d-flex justify-content-center align-items-center">
					<div class="card-body p-3 text-center">
						<div class="mb-md-5 mt-md-2 pb-3">

							<br>
							<table class="table table-striped table-bordered">
								<thead class="table-dark">
									<tr>
										<th>ID</th>
										<th>Nombre</th>
										<th>Cantidad de Lugares</th>
										<th>Creacion</th>
										<th>Edificio</th>
										<th>Medicion</th>
										<th>Accion</th>
									</tr>
								</thead>
								<tbody style="background: white">
									<tr th:each="estacionamiento : ${estacionamiento}">
										<td th:text="${estacionamiento.idDispositivo}"></td>
										<td th:text="${estacionamiento.nombre}"></td>
										<td th:text="${estacionamiento.lugares}"></td>
										<td th:text="${estacionamiento.creacion}"></td>
										<td th:text="${estacionamiento.edificio}"></td>
										<td><button
												onclick="location.href='/mediciones-estacionamiento/new'"
												class="btn btn-success" type="button">Generar
												Medición</button></td>
										<td><a th:href="@{/delete/{id}(id=${idDispositivo})}"
											class="btn btn-danger">Eliminar</a></td>
									</tr>
								</tbody>
							</table>
							<br> <br>
							<button
								onclick="location.href='estacionamiento/todos-los-estacionamientos'"
								class="btn btn-dark btn-outline-black btn-lg px-5"
								style="border: white 2px solid" type="button">Agregar
								Estacionamiento</button>
						</div>
					</div>
		</section>
	</div>
	</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>
</html>