*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #boton-nav {
    color: rgb(214, 18, 67);
  }
  
  #boton-nav:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(118,19,44);
    border: 0px solid rgb(118,19,44);
    border-radius: 15px;
  }
  
  #boton-card {
    background-color: rgb(46, 51, 57);
    border-radius: 4px;
    border: 1px solid white;
    color: white;
  }
  
  #boton-card:hover {
    color: black;
    background-color: white;
  }
  .navbar-logo{
      display: inline-block;
      vertical-align: middle;
      width: 35px;
    }
  
    .navbar-logo img{
      display: block;
      width: 100%;
      height: auto;
    }
  
    #Imagen-carrousel{ 
      filter: brightness(45%);
    }
  
    #texto-carrousel{
      text-align: right; 
      z-index: 2; 
      margin-bottom: 8%; 
      margin-right: -7%;
      font-size:14px;
    }
  
  #primer-btn-corrusel{
    background-color: rgb(118,19,44);
    border-color: rgb(8, 1, 1);
  }
  
  #primer-btn-corrusel:focus{ 
    box-shadow:  1px 0px 4px 2px rgb(70, 10, 10);
  }
